<h2>Resume</h2>

<div class="skill section">
    <h3>Skills</h3>
    <ul>
        <li>UI Mockup</li>
        <li>Inkscape</li>
        <li>GNU Image Manipulation Program</li>
    </ul>
    <h5>
        Tech Stack
    </h5>
    <ul>
        <li>C, Assembly</li>
        <li>Bash, Regex</li>
        <li>JavaScript, Html, CSS</li>
        <li>Java</li>
        <li>SQL,noSQL
            <li>Nodejs, Express</li>
            <li>Angular</li>
            <li>MongoDB</li>
    </ul>
</div>



<div class="work section">
    <h3>Work Experience</h3>
    <div class="work block">
        <h4>Teaching Assistance</h4>
        <span>08/2014 - 09/2014 West Lafayette, IN</span>
        <p>Purdue Computer Science Department</p>

        <ul>
            <li>Introducing Java and Android Development to teenagers</li>
            <li>Grade home work</li>
            <li>hold office hours</li>
        </ul>
    </div>

    <div class="work block">
        <h4>
            Information Technology Support Engineer
        </h4>
        <span>06/2015 - 03/2020 Remote, Jiaxing China</span>
        <ul>
            <li>Design and develop company website</li>
            <li>Network Engineer</li>
            <li>Provide customer support in database management and surveillance system</li>
        </ul>
    </div>
</div>

<div class="project section">
    <h3>
        Project
    </h3>
    <div class="proj block">
        <h4>Modesty Web App</h4>
        <ul>
            <li>A web app allows user to set a limit on their social media consumption</li>
            <li>Using Angular framework, Express Server, MongoDB, Nodejs</li>
            <li>RESTful API for CRUD operations</li>
            <li>Twitter API for fetching media feeds</li>
        </ul>
    </div>

    <div class="proj block">
        <h4>A Collaborative online Code Editor</h4>
        <ul>
            <li>A web-based code editor that supports multiple users to edit simultaneously</li>
            <li>A single page application list coding problems that allows user to compile and run</li>
            <li>Using Redis and socket connection for fast processing</li>
        </ul>
    </div>
</div>


<div class="edu section">
    <h3>Education</h3>
    <h4>Backelor's Degree in Computer Science</h4>
    <span>Graduated 05/2019  Software Engineering Track</span>
    <ul>
        <li>CS354 : Operating System and Kernel Programming</li>
        <li>CS448 : Introduction to Relational Database Systems</li>
        <li>CS407 : Senior Design project Full Stack Web Development</li>
        <li>STAT511: Probability and Statistics for Engineering</li>
    </ul>
</div>

<div class="honors section">
    <h3>Honors</h3>
    <h4>Dean's List</h4>
    <p>Purdue University
        <p>
</div>

<div>
    <h3>Volunteer</h3>
    <h5>Weeks Of Welcome (WOW) Volunteer, Purdue Univ.</h5>
    <p>Held Q&A desk during International Students & Scholars (ISS) orientation</p>
</div>

<div class="lang section">
    <h3>Languages</h3>
    <ul>
        <li>English</li>
        <li>Mandarin</li>
    </ul>
</div>